body {
  background-color: lightgreen;
  background-image: url('../gfx/battleship.jpg');
  background-size: cover;
}

.bs-main-content {
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
  border-radius: 20px;
  background-color: rgba(192, 192, 192, 0.6);
}
